
<div class="split _left --acting">

  <div class="img _acting"></div>

</div>

<div class="split _right --acting">

  <div class="title _acting"><strong>Acting</strong></div>

  <p class="copy _acting">With a BA and post grad certificate in Drama from the University of California Santa Cruz, I have performed in countless theatrical productions, impressing audiences with characters like 'Viola' in Shakespeare's "Twelfth Night".</p>

  <p class="copy _acting">A dedicated physical actor and expert in character voices, I perform for various circus companies stiltwalking in an assortment of guises, from Snow Queen to Sprite!</p>

  {% include {{ SvgIcon }} type="equity" %}

</div>
