
<div class="title _contact">

  <strong>Contact</strong>

</div>

<p class="copy _contact">Get in touch and I’ll be happy to provide you with a recording rate for your project!</p>

<p class="copy _contact --details"><a href="mailto:steph@sparkthecannon.com">steph@sparkthecannon.com</a><br>+44 7547 795849</p>
