
<div class="title _contact">

  <strong>Contact</strong>

</div>

<p class="copy _contact">Get in touch and I’ll be happy to provide you with a recording rate for your project!</p>

<p class="copy _contact --details"><a href="mailto:steph@sparkthecannon.com">steph@sparkthecannon.com</a><br>+44 7547 795849</p>

<a href="http://www.spotlight.com/interactive/cv/9493-9081-8617" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="spotlight" %}</a>

<a href="https://twitter.com/sparkthecannon" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="twitter" %}</a>

<a href="https://www.linkedin.com/in/sparkthecannon/" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="linkedin" %}</a>

<a href="https://www.facebook.com/stephanie.cannonvoiceovers.9" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="facebook" %}</a>
