
<div class="split _right --hero">

  <div class="title _hero">

    <strong>Stephanie<br>Cannon</strong>

  </div>

  <p class="copy _hero --contact">

    <a href="mailto:steph@sparkthecannon.com">steph@sparkthecannon.com</a><br>

    +44 7547 795849

  </p>

  <p class="copy _hero --welcome">

    <strong>Welcome!</strong> I am an American born voice over artist, actor, circus performer and singer based in London.</p>

</div>

<div class="split _left --hero">

  <img class="img _microphone" src="/assets/img/microphone2.png" alt="">

</div>
