
<div class="split _right --hero">

  <div class="title _hero">

    <strong>Stephanie<br>Cannon</strong>

  </div>

  <p class="copy _hero --contact">

    <a href="mailto:steph@sparkthecannon.com">steph@sparkthecannon.com</a><br>

    +44 7547 795849

  </p>

  <p><strong>Welcome!</strong> I am an American voice over artist and actor delivering high quality recordings from my broadcast quality London home studio to you! Professional, versatile and experienced across all areas of the voice over industry.</p>
    
  <p>Get in touch for a quote or if you'd like a custom demo.  I'm happy to quickly send over a sample recording to see if I'm the right voice for your project!</p>


</div>

<div class="split _left --hero">

  <img class="img _microphone" src="/assets/img/microphone2.png" alt="">

</div>
