
<a href="https://www.audible.co.uk/search?ref=a_search_c1_sort_1&pf_rd_p=56a637ed-6f1b-4758-8d02-5bcd48128c1f&pf_rd_r=6D2J093BSJYZH3BH4Y36&keywords=stephanie%20cannon&sort=pubdate-desc-rank" target="_blank" class="lnk _latest">

  <div class="split _left --latest">

    <img class="img _latest" src="/assets/img/iris.png" alt="pulp">

  </div>

  <div class="split _right --latest">

    <div class="copy _latest">

      I have lovingly voiced over 100 audiobooks from Young Adult to Romance to Science Fiction. You can listen to my latest releases like "The Origins of Iris" and many others at <strong>audible.co.uk</strong>

    </div>

  </div>

</a>
