
<div class="title _motion"><strong>Motion Capture</strong></div>

<p class="copy _motion">I’ve created dozens of characters through body and facial capture for video games, films and television. My physical performance reel includes character creation footage for projects such as 'House of the Dead' and 'John Carter of Mars'.</p>

<div class="video _motion">

  <iframe src="https://www.youtube.com/embed/eQHx5S6bg5Q" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
