
<a href="https://www.audible.co.uk/search?keywords=stephanie+cannon" target="_blank" class="lnk _pulp">

  <div class="split _left --pulp">

    <img class="img _pulp" src="/assets/img/pulp.png" alt="pulp">

  </div>

  <div class="split _right --pulp">

    <div class="copy _pulp">

      I have lovingly voiced over 50 audiobooks from Young Adult to Romance to Science Fiction. You can listen to my latest releases like "Pulp" and many others at <strong>audible.co.uk</strong>

    </div>

  </div>

</a>
