
<a href="http://www.spotlight.com/interactive/cv/9493-9081-8617" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="spotlight" %}</a>

<a href="https://twitter.com/sparkthecannon" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="twitter" %}</a>

<a href="https://www.linkedin.com/in/sparkthecannon/" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="linkedin" %}</a>

<a href="https://www.facebook.com/stephanie.cannonvoiceovers.9" target="_blank" class="link social-media">{% include {{ SvgIcon }} type="facebook" %}</a>
