
.area {
  position: relative;
  overflow: hidden;
  z-index: 2;

  + .area {
    margin-top: 20px;

    @media#{$min768w} {
      margin-top: 40px;
    }
  }

  &._hero {
    border-bottom: 2px solid black;
    padding: 60px 40px;
    background: gray;
    color: white;

    @media#{$min768w} {
      background: url('/assets/img/banner.jpg') center;
      background-size: auto 390px;
    }
  }

  &._voice {
    padding: 0 40px;
  }

  &._about {
    padding: 0 40px;
  }

  &._pulp {
    padding: 20px 40px 0;
  }

  &._motion {
    padding: 0 40px;
  }

  &._acting {
    padding: 0 40px;
  }

  &._contact {
    padding: 0 40px;
  }

  &._logos {
    padding: 0 40px 40px;
  }
}
