
.area {
  position: relative;
  padding: 80px 40px;
  overflow: hidden;
  z-index: 2;

  &:nth-child(even) {
    background-color: rgba(black,0.05);
  }

  &._hero {
    background-image: url('/assets/img/microphone_bg3.jpg');
    border-bottom: 2px solid black;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 700px;
    padding: 60px 40px 0 40px;
    background-color: gray;
    color: white;
  }
}
