
.area {
  position: relative;
  padding: 50px 30px;
  overflow: hidden;
  z-index: 2;

  &:nth-child(even) {
    background-color: darken($bg,5%);
  }

  &._hero {
    background-image: url('/assets/img/microphone_bg3.jpg');
    border-bottom: 2px solid black;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 700px;
    padding: 50px 30px 0 30px;
    background-color: gray;
    color: white;
  }
}
