body {
  background-color: $bg;
  font-size: 1.6rem;
  line-height: 1.4;
}

img {
  &._microphone {
    height: auto;
    width: 160px;

    @media #{map-get($query,min640)} {
      position: absolute;
      width: 240px;
      bottom: 0;
    }
  }

  &._latest {
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
    display: block;
    width: 120px;
  }
}

svg {
  &.acc {
    transition: transform 300ms;
    margin-right: 11px;
    stroke-width: 4px;
    margin-top: 11px;
    stroke: black;
    float: right;
  }

  &#equity {
    margin-top: 20px;
  }
}

ul {
  &._nav {
    cursor: pointer;
    @include cf;
  }

  &._voice {
    @include cf;
  }

  &._logo {
    @include cf;
    margin-left: -5px;
    list-style: none;
    max-width: 640px;
    padding: 0;
  }
}

li {
  &._nav {
    float: left;

    + .item._nav {
      padding-left: 40px;
    }
  }

  &._voice {
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    width: 50%;
  }

  &._logo {
    padding: 5px;
    float: left;
    width: 50%;

    @media #{$min440w} {
      width: 20%;
    }
  }
}

iframe {
  border-top: 2px solid;
  display: block;
}
