
.copy {

  &._hero {
    &.--welcome {
      max-width: 386px;
    }
    &.--contact {
      font-weight: bold;
    }
  }

  &._pulp {
    @media#{$min640w} {
      padding-right: 20px;
    }
  }

  &._motion {
    padding-bottom: 20px;
  }

  &._contact {
    &.--details {
      font-weight: bold;
    }
  }
}
