
.lnk {
  &._nav {
    border-bottom: 4px solid transparent;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 14px;
    font-size: 18px;
    font-weight: bold;
    display: block;

    &:hover {
      border-bottom: 4px solid black;
    }
  }
}
