
.split {

  &._left {
    float: left;
    width: 50%;

    &.--pulp {
      width: 100%;
      @media#{$min768w} {
        width: 26%;
      }
    }

    &.--about {
      width: 100%;
      @media#{$min768w} {
        width: 28%;
      }
    }

    &.--acting {
      width: 100%;
      @media#{$min768w} {
        width: 28%;
      }
    }
  }

  &._right {
    float: right;
    width: 50%;

    &.--hero {
      width: 100%;
      @media#{$min768w} {
        width: 50%;
      }
    }

    &.--pulp {
      width: 100%;
      padding-top: 20px;
      @media#{$min768w} {
        padding-top: 0;
        width: 74%;
      }
    }

    &.--about {
      width: 100%;
      @media#{$min768w} {
        width: 72%;
        padding-left: 30px;
      }
    }

    &.--acting {
      width: 100%;
      @media#{$min768w} {
        width: 72%;
        padding-left: 30px;
      }
    }
  }
}
