
%ImageFlex {
  border: 2px solid;
  overflow: hidden;

  @media#{map-get($query,max639)} {
    max-height: 220px;
    max-width: 180px;
  }
}

.split {

  &._left {
    float: left;
    width: 50%;

    &.--pulp {
      width: 100%;
      @media#{map-get($query,min640)} {
        width: 25%;
      }
    }

    &.--about {
      @extend %ImageFlex;
      width: 100%;

      @media#{map-get($query,min640)} {
        width: 25%;
      }
    }

    &.--acting {
      @extend %ImageFlex;
      width: 100%;

      @media#{map-get($query,min640)} {
        width: 25%;
      }
    }
  }

  &._right {
    float: right;
    width: 50%;

    &.--hero {
      padding-bottom: 20px;
      width: 100%;

      @media#{map-get($query,min640)} {
        padding-bottom: 0;
        width: 50%;
      }
    }

    &.--pulp {
      width: 100%;
      padding-top: 20px;
      @media#{map-get($query,min640)} {
        padding-top: 0;
        width: 75%;
      }
    }

    &.--about {
      width: 100%;
      @media#{map-get($query,min640)} {
        width: 75%;
        padding-left: 30px;
      }
    }

    &.--acting {
      width: 100%;
      @media#{map-get($query,min640)} {
        width: 75%;
        padding-left: 30px;
      }
    }
  }
}
