
.split {

  &._left {
    float: left;
    width: 50%;

    &.--pulp {
      width: 100%;
      @media#{$min640w} {
        width: 25%;
      }
    }

    &.--about {
      width: 100%;
      @media#{$min640w} {
        width: 25%;
      }
    }

    &.--acting {
      width: 100%;
      @media#{$min640w} {
        width: 25%;
      }
    }
  }

  &._right {
    float: right;
    width: 50%;

    &.--hero {
      padding-bottom: 20px;
      width: 100%;

      @media#{$min640w} {
        padding-bottom: 0;
        width: 50%;
      }
    }

    &.--pulp {
      width: 100%;
      padding-top: 20px;
      @media#{$min640w} {
        padding-top: 0;
        width: 75%;
      }
    }

    &.--about {
      width: 100%;
      @media#{$min640w} {
        width: 75%;
        padding-left: 30px;
      }
    }

    &.--acting {
      width: 100%;
      @media#{$min640w} {
        width: 75%;
        padding-left: 30px;
      }
    }
  }
}
