
.title {

  &._hero {
    padding-bottom: 20px;
    max-width: 400px;
    line-height: 1.1;
    font-size: 44px;
  }

  &._about {
    font-size: 36px;
    padding: 20px 0;

    @media#{map-get($query,min640)} {
      padding: 0 0 20px;
    }
  }

  &._voice {
    padding-bottom: 20px;
    font-size: 36px;
  }

  &._embed {
    padding: 10px;
    float: left;
  }

  &._motion {
    padding-bottom: 20px;
    font-size: 36px;
  }

  &._acting {
    font-size: 36px;
    padding: 20px 0;

    @media#{map-get($query,min640)} {
      padding: 0 0 20px;
    }
  }

  &._contact {
    padding-bottom: 20px;
    font-size: 36px;
  }
}
