
%Wrap {
  max-width: 96rem;
  margin: 0 auto;
}

.wrap {

  &._hero {
    max-width: 768px;
    margin: 0 auto;
    @include cf;
  }

  &._nav {
    @extend %Wrap;
  }

  &._about {
    @extend %Wrap;
    @include cf;
  }

  &._voice {
    @extend %Wrap;
  }

  &._embed {
    transition: max-height 300ms, opacity 300ms 300ms;
    overflow: hidden;
    max-height: 0;
    clear: both;
    opacity: 0;
  }

  &._latest {
    background-color: #d1f0ee;
    @extend %Wrap;
    border: 2px solid;
    margin-top: 24px;
    max-width: 600px;
    height: 116px;
    @include cf;
  }

  &._motion {
    @extend %Wrap;
  }

  &._acting {
    @extend %Wrap;
  }

  &._client {
    background-color: #bfdedc;
    padding: 10px;
  }

  &._contact {
    @extend %Wrap;
  }

  &._logos {
    @extend %Wrap;
  }

  &._social {
    @extend %Wrap;
  }
}
