---
---

@import
"futuro.lite",
"helpers",
"base",
"area",
"copy",
"overlay",
"lnk",
"split",
"title",
"wrap";

.site {
  background: transparent;
}

.img {

  &._about {
    background: url('/assets/img/studio.jpg') no-repeat center;
    background-size: cover;
    height: 100%;

    @media#{$min960w} {
      height: calc(100% + 60px);
    }
  }

  &._acting {
    background: url('/assets/img/headshot.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
  }
}

.table {
  cursor: pointer;
  @include cf;
}

.row {
  border-right: 2px solid;
  border-left: 2px solid;
  @include cf;

  @media#{map-get($query,min640)} {
    &:hover {
      background-color: rgba(black,0.1);
    }
  }

  &:last-child {
    border-bottom: 2px solid;
  }

  + .row {
    border-top: 2px solid;
  }

  &.--open {
    .acc {
      transform: rotate(225deg);
    }
    .wrap._embed {
      max-height: 308px;
      opacity: 1;
    }
  }
}

.col {
  float: left;
  width: 100%;

  &:first-child {
    .row:first-child {
      border-top: 2px solid;
    }
  }

  @media#{map-get($query,min640)} {
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;

    .row:first-child {
      border-top: 2px solid;
    }
  }
}

.acc {
  &._embed {
    max-height: 0;
    overflow: hidden;
  }
}

.video {
  &._motion {
    background-color: black;
    padding-top: 56.25%;
    position: relative;
    margin-top: 20px;
    overflow: hidden;

    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 0;
      left: 0;
      top: 0;
    }
  }
}

.link.social-media {
  vertical-align: middle;
  display: inline-block;
  height: 2.8rem;

  svg {
    height: 100%;
  }

  + .link.social-media {
    margin-left: 1.5rem;
  }
}
