---
---

@import
'normalize.css',
'futuro',
'helpers',
'base',
'area',
'copy',
'overlay',
'lnk',
'split',
'title',
'wrap';

%img_flex {
  min-height: 300px;
  max-height: 300px;
  border: 2px solid;
  max-width: 200px;

  @media#{$min640w} {
    max-height: none;
    max-width: none;
  }
}

.img {

  &._about {
    background: url('/assets/img/studio.jpg') no-repeat center;
    background-size: cover;
    @extend %img_flex;
  }

  &._acting {
    background: url('/assets/img/headshot.jpg') no-repeat center;
    background-size: cover;
    @extend %img_flex;
  }
}

.table {
  cursor: pointer;
  @include cf;
}

.row {
  border-right: 2px solid;
  border-left: 2px solid;
  @include cf;

  &:hover {
    background-color: rgba(black,0.1);
  }

  &:last-child {
    border-bottom: 2px solid;
  }

  + .row {
    border-top: 2px solid;
  }
}

.col {
  float: left;
  width: 100%;

  &:first-child {
    .row:first-child {
      border-top: 2px solid;
    }
  }

  @media#{$min640w} {
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;

    .row:first-child {
      border-top: 2px solid;
    }
  }
}

.acc {
  &._embed {
    max-height: 0;
    overflow: hidden;
  }
}

.video {
  &._motion {
    background-color: black;
    padding-top: 56.25%;
    position: relative;
    margin-top: 20px;
    overflow: hidden;

    iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      border: 0;
      left: 0;
      top: 0;
    }
  }
}
