<div class="area _hero" id="hero">
  <div class="wrap _hero">
    <div class="split _right --hero">
      <div class="title _hero">
        <strong>Stephanie<br>Cannon</strong>
      </div>
      <p class="copy _hero">
        <strong>+44 7547 795849<br>
        hello@stephaniecannon.co.uk</strong>
      </p>
      <p class="copy _hero --welcome">
        <strong>Welcome!</strong> I am an American born voice over artist, actor, circus performer and singer based in London.</p>
    </div>
    <div class="split _left --hero">
      <img class="img _microphone" src="/assets/img/microphone2.png" alt="">
    </div>
  </div>
</div>
