<div class="area _logos" id="logos">
  <div class="wrap _contact">
    <ul class="list _logo">
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/adobe.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/sega.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/bbc.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/unity.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/microsoft.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/sony.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/pixar.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/aljazeera.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/audible.svg %}
          </div>
      </li>
      <li class="item _logo">
          <div class="wrap _client">
            {% include svg/disney.svg %}
          </div>
      </li>
    </ul>
  </div>
</div>
