<div class="area _voice" id="voice">
  <div class="wrap _voice">
    <div class="title _voice"><strong>Voice Samples</strong></div>

    <div class="table">
      <div class="col _left">
        <div class="row _embed">
          <div class="title _embed">Voice Reel</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738132402&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Advertising</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738083880&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Audiobooks</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738097131&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Narration</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738103629&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Video Games</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738089058&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col _right">
        <div class="row _embed">
          <div class="title _embed">Radio Drama</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738088785&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Characters</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738090177&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">E Learning</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738087756&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">UK Accents</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738091125&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
        <div class="row _embed">
          <div class="title _embed">Singing</div>
          {% include svg/acc.svg %}
          <div class="wrap _embed">
            <iframe width="100%" height="308" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/738090537&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
