<div class="area _about" id="about">
  <div class="wrap _about">
    <div class="split _left --about">
      <img class="img _about" src="/assets/img/studio.jpg" alt="studio">      
    </div>
    <div class="split _right --about">
      <div class="title _about"><strong>About</strong></div>
      <p class="copy _about">My lifelong passion for bringing stories and characters to life has led me to working in a variety of settings, from major films and video games to advertising and audio books.</p>
      <p class="copy _about">Coming from a classical theatre acting background, I am equipped with the skills to continually create new and interesting characters. My natural vocal ability allows me to capture the essence of any text in an engaging and accessible manner, bringing warmth and clarity to the scripts I voice.</p>
      <p class="copy _about">My professionalism, quick turn-over time and enthusiasm for voice acting ensures continuous high-quality performances and clients that keep coming back!</p>
    </div>
  </div>
</div>
