<div class="area _nav">
  <div class="wrap _nav">
    <ul class="list _nav">
      <li class="item _nav"><a class="lnk _nav --voice" href="#voice">Voice Samples</a></li>
      <li class="item _nav"><a class="lnk _nav --about" href="#about">About</a></li>
      <li class="item _nav"><a class="lnk _nav --motion" href="#motion">Motion Capture</a></li>
      <li class="item _nav"><a class="lnk _nav --acting" href="#acting">Acting</a></li>
      <li class="item _nav"><a class="lnk _nav --contact" href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
