<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">

  {% include html/head.html %}

  <body class="layout{{ page.layout | downcase | prepend: ' _' }}{% if page.tags %}{{ page.tags | join: ' --' | replace: ',','' | prepend: ' --' }}{% endif %}">

    {% include html/overlay.html title='load' state='open' %}

    <div class="site">

      {% if site.header %}
      <header>
        {{ site.header }}
      </header>
      {% endif %}

      {% include html/area-hero.html %}
      {% include html/area-voice.html %}
      {% include html/area-pulp.html %}
      {% include html/area-about.html %}
      {% include html/area-motion.html %}
      {% include html/area-acting.html %}
      {% include html/area-contact.html %}
      {% include html/area-logos.html %}

      {% if site.footer %}
      <footer>
        {{site.footer}}
      </footer>
      {% endif %}

    </div>

  </body>

  {% include html/scripts.html %}

</html>
